# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 
#define host{
#        use                     generic-host            ; Name of host template to use
#        host_name               localhost
#        alias                   localhost
#        address                 127.0.0.1
#        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       *
        service_description             Disk Space
        check_command                   check_all_disks!20%!10%
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       *
        service_description             Current Users
        check_command                   check_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 1800(default 250) processes, critical if
# > 2200(default 400) processes.
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       *
        service_description             Total Processes
		check_command                   check_procs!1800!2200

        }


# Define a service to check the load on the local machine. 
#define service{
#        use                             generic-service         ; Name of service template to use
#        host_name                       *
#        service_description             Current Load
#		check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
#        }

# IPMI service to check
define service{
	use 				generic-service
	host_name			*
	service_description		IPMI Status
	check_command			check_ipmi_sensor!/etc/ipmi-config/ipmi.cfg
	}

## Check system load
# y = c * p / 100
# y: nagios value
# c: number of cores
# p: wanted load procent

# 32 cores
# time        5 minutes    10 minutes     15 minutes
# warning:    90%          70%            50%
# critical:   100%         80%            60%

# 32 cores
# time        5 minutes    10 minutes     15 minutes
# warning:    28.80        22.40          16.00
# critical:   32.00        25.60          19.20

define service {
        host_name                       *
        service_description             LOAD
        check_command                   check_load!28.8!22.4!16.0!32.0!25.6!19.2
        use                             generic-service
        notification_interval           0 ; set > 0 if you want to be renotified
}
